
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComponentConfig</title>
    <style>
        .liked {
            background: deeppink
        }
    </style>
</head>
<body>
    <div id="app">
        <like></like>
    </div>
    <template id="like-component-tpl">
        <button :class="{liked:liked}" @@click="toggle_like()">为你点赞{{like_count}}</button>
    </template>
    <script src="~/Scripts/vue.js"></script>
    <script>
        Vue.component('like', {
           // template: '<button :class="{liked:liked}"  @@click="toggle_like()">为你点赞{{like_count}}</button>',
            template:'#like-component-tpl',
            data: function () {
                return {
                    like_count: 10,
                    liked: false
                }
            },
            methods: {
                toggle_like: function () {
                    if (!this.liked) {
                        this.like_count++;
                    } else {
                        this.like_count--;
                    }
                    this.liked = !this.liked;
                }
            }
          });
        var app = new Vue({
            el: '#app'
        });
    </script>
</body>
</html>
