
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directive</title>
    <style>
        .card {
            width: 200px;
            background: #ccc;
            padding: 10px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-pin:true.bottom.right="card1.pinned" class="card">
            <button @@click="card1.pinned=!card1.pinned">钉住/取消</button>
            111111111111111111111
        </div>
        <div v-pin="card2.pinned" class="card">
            <a href="#" @@click="card2.pinned=!card2.pinned">pin it</a>
            和生成源代码。

            调试

            调查和修复代码问题。

            测试

            组织测试进程。

            部署

            使用 Web 部署、InstallShield 和持续集成等共享应用。

            版本控制

            使用 Git、TFVC 等版本控制技术共享代码。

            DevOps

            在云中连续生成和发布应用，并通过 VSTS 实现敏捷做法。

            提高性能

            通过使用诊断工具来标识瓶颈，并优化代码性能。

            扩展

            将自己的功能添加到 Visual Studio IDE，从而改进开发体验。

            数据
        </div>
        <div>
            用VSTS和TFS

            使用quickstart、示例和教程探索我们最流行的服务。

            添加代码

            Git存储库

            开始使用Java

            持续集成和交付

            部署到Azure

            构建和发布

            包管理

            敏捷

            冲刺(Scrum)

            董事会(看板)

            指示板

            测试你的代码

            连续测试

            探索性和手工测试

            负载测试

            资源

            市场

            了解Git

            了解DevOps

            了解敏捷

            代码

            Git存储库

            把请求

            叉

            部门政策

            TFVC

            持续集成和交付

            指示是命令旧时公文的一种，是上级对下级呈请的批示。另有解释，告诉计算机从事某一特殊运算的代码。如：数据传送指令、算术运算指令、位运算指令、程序流程控制指令、串操作指令、处理器控制。
            电脑程序发给计算机处理器的命令就是“指令（instruction）”。最低级的指令是一串0和1，表示一项实体作业操作要运行（如“Add”）。根据指令类型，某个具体的存储领域被称作“寄存器（register）”，里面包含了可用于调出指令的数据或数据存储位置。
            计算机的汇编语言（assembler）中，每种语言一般只响应单一的处理器指令。而高级语言的每种语言经过程序编辑后能响应多个处理器指令。
            在汇编语言中，宏指令（macro instruction）在汇编程序处理过程中会扩展为多个指令（以编码过的源宏定义为基础）指令。
            希望我能帮助你解疑释惑。
        </div>
        <div>
            新京报快讯（记者 王姝）去年发生在深圳的“基因编辑婴儿”事件，引发了各界广泛关注。如何规范人体基因、胚胎等医学活动？今天，十三届全国人大常委会第十次会议审议的民法典人格权编草案，明确提出规定：从事与人体基因、人体胚胎等有关的医学和科研活动的，应当遵守法律、行政法规和国家有关规定，不得危害人体健康、不得违背伦理道德。

            去年8月，十三届全国人大常委会第五次会议初次审议了民法典各分编草案，之后将各分编草案分拆为几个单元进行若干次审议和修改完善。去年12月，常委会第七次会议对民法典合同编草案、侵权责任编草案进行了二审。今天，常委会第十次会议二审民法典人格权编草案。

            今天，全国人大宪法和法律委员会有关负责人作民法典人格权编草案修改情况的汇报时表示，有的地方、法学教学研究机构和社会公众提出，开展与人体基因、人体胚胎等有关的医学和科学研究，可能带来人体生命健康安全和伦理道德方面的风险，必须有严格的法律规范。民法典人格权编草案二审稿采纳了这一建议，在草案第二章“生命权、身体权和健康权”中增加规定：从事与人体基因、人体胚胎等有关的医学和科研活动的，应当遵守法律、行政法规和国家有关规定，不得危害人体健康、不得违背伦理道德。

            新京报记者 王姝 编辑 姜慧梓

            相关搜索
            编纂民法典的意义
        </div>
        <div>
            参考消息网4月20日报道外媒称，巴黎警方调查人员认为引发巴黎圣母院火灾的原因最有可能是电线短路。与此同时，法国18日举行了为期一天的活动，向挽救这座举世闻名的地标式建筑的消防员致敬。

            美联社4月18日引述一名警官的话称，调查人员17日对巴黎圣母院进行了初步评估，由于仍然存在安全隐患，他们尚未批准对巴黎圣母院内部进行搜查。这名不愿透露姓名的官员说，巴黎圣母院脆弱的墙壁目前仍用木板支撑着。

            报道称，到目前为止，调查人员仍认为火灾属于意外事故。法国《巴黎人报》称，调查人员正在调查火灾是否有可能与电脑故障或翻修工程中使用的临时电梯有关。巴黎检察官办公室说“所有线索都必须调查”。


            巴黎圣母院屋顶被烧穿。（哥伦比亚广播公司网站）

            西班牙《阿贝赛报》网站4月18日披露，约50名刑侦人员已经开始对巴黎圣母院翻新工程中的数十名工人和技术人员进行问讯。火灾的严重性使得结论的出炉变得复杂而缓慢，仍需几天才能得到最终结果。

            报道称，负责翻新工程的承包商勒布拉兄弟公司已经迫不及待地宣布在施工过程中“遵守了所有法律程序”，排除公司方面在火灾中的一切责任。

            从初步线索中看，有猜测认为警报系统可能出现了“故障”。据警方消息称，第一次的警报出现在当天下午6时20分，也就是大火开始燃烧前半小时左右，但警报并未检测出着火点的正确位置。30分钟后，警报再次发出，安保人员发现了起火点，但为时已晚，火焰已经蹿得很高了。

            美国《华盛顿邮报》网站4月18日表示，巴黎圣母院的最终重建现在已成定局。15日发生的一场大火把这座教堂摧毁大半，短短几个小时之内，捐赠者就承诺提供10亿多美元（1美元约合6.7元人民币——本网注），让这座巴黎的标志性建筑恢复昔日辉煌。

            报道称，甚至在浓烟散尽之前，奢侈品巨头弗朗索瓦-亨利·皮诺就宣布，他的家族将为此捐款1亿欧元（1欧元约合7.5元人民币——本网注）。他的对手贝尔纳·阿尔诺——路易威登集团首席执行官、欧洲首富——也没有坐视不管，他在16日上午承诺，将捐款两亿欧元……

            据报道，官员们仍在评估损失的程度，因此，巴黎圣母院重建的费用仍不得而知，但所有捐款应该可以涵盖这些费用。

            与此同时，一夜之间堆起的用于拯救大教堂的大量资金在法国引起轰动，法国目前仍处于一场严重抗议社会不平等加剧的阵痛之中，法国领导人经常被指责为“富人的总统”。

            报道指出，自去年11月中旬以来，“黄背心”运动经常在星期六举行一系列暴力示威活动，抗议不平等问题。该运动领导人英格丽德·勒瓦瓦瑟尔说，这些捐款从根本上证实了该运动批评的广泛社会问题。

            法国总工会负责人菲利普·马蒂内17日说：“如果他们能拿出几千万重建巴黎圣母院，那么他们就不应该告诉我们，没钱解决社会紧迫问题。”

            报道称，这些现金流也在海外引发了震惊，批评人士强调，非西方地点的地标性建筑——比如“伊斯兰国”组织在叙利亚摧毁的古代遗址——几乎没有引发这样一场全球性反响。
        </div>
    </div>
    <script src="~/Scripts/vue.js"></script>
    <script>
        Vue.directive('pin', function (el, binding) {
            //var $el = $(el);
            var pinned = binding.value;
            var position = binding.modifiers;
            var warning = binding.arg;
            console.log(pinned);
            if (pinned) {
                el.style.position = 'fixed';
                for (var key in position) {
                    if (position[key]) {
                        el.style[key] = '10px';
                    }
                }
                if (warning == 'true') {
                    el.style.background = 'yellow';
                }
            } else {
                el.style.position = "static";
            }
        });
        new Vue({
            el: "#app",
            data: {
                card1: {
                    pinned: false
                },
                card2: {
                    pinned: false
                }
            }
        });
    </script>
</body>
</html>
