
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mixins</title>
</head>
<body>
    <div id="app">
        <popup></popup>
        <tooltip></tooltip>
    </div>
    <script src="~/Scripts/vue.js"></script>
    <script>
        var base = {
            methods: {
                show: function () {
                    this.visible = true;
                },
                hide: function () {
                    this.visible = false;
                },
                toggle: function () {
                    this.visible = !this.visible;
                }
            },
            data: function () {
                return {
                    visible: false
                }
            }
        };
        Vue.component('tooltip', {
            template: '<div><span @@mouseenter="show" @@mouseleave="hide">bys</span><div v-if="visible">白岩松</div></div>',
            mixins: [base],
            //会覆盖mixins中的数据
            data: function () {
                return {
                    visible: true
                }
            }
        });
        Vue.component('popup', {
            template: '<div><button @@click="toggle">Popup</button><div v-if="visible"><span @@click="hide">x</span><h4>title</h4>正在学习呢</div></div>',
            mixins: [base]
        });
        new Vue({
            el: '#app'
        });
    </script>
</body>
</html>
